<html>
	<body>
		<h1>Are you sure you want to delete that url? </h1>	
		{% block content %}
			<form action="" method="post">{% csrf_token %}
		      <ul>
		      {{ object }}
		      </ul>				
			<input type="submit" name="submit" value="Submit" />
			</form>
		
	</body>
	{% endblock %}
</html>