<html>
	<body>
		<h1>Update Server's url </h1>	
		{% block content %}
			<form action="" method="post">{% csrf_token %}
		      <ul>
		      {{ form.as_p }}
		      </ul>				
			<input type="submit" name="submit" value="Submit" />
			</form>
		
	</body>
	{% endblock %}
</html>