<html>
	<body>
		{% block content %}
			{% if urls %}
				{% for link in urls %}
					<li>
						{{link}}
						
						<TABLE BORDER="0">
							<TR>
								{% if link.flag == 1 %}
									--Working--
								{% else %}
									--Not Working--
								{% endif %}
								<a href="{% url 'update_url' link.pk %}">   Update  </a>
								<a href="{% url 'delete_url' link.pk %}">   Delete  </a>
							</TR>
						</TABLE>
					</li>					
				{% endfor %}
				<a href="{% url "addurl" %}">Add Url</a>
			{% else %}
				<p> You have no servers </p>
				<p> <a href="{% url "addurl" %}">Add Url</a> </p>
			{% endif %}
		{% endblock %}
	</body>
</html>